.secret {
    width: 50%;
    background-color: white;
    height: auto;
    border: 1px solid #0063cf;
    border-radius: 5px;
    margin: 1rem 0;
}

.secret-header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

.secret-text {
    padding: 1rem;
}
